.getUserInfo {
  border-bottom: 20px solid #eee;
  .getinfo_btn {
    padding: 20rpx 100rpx;
    .btn {
    }
  }
  .address_info {
    display: flex;
    padding: 40rpx 5rpx 40rpx 8rpx ;
    .address {
        font-size: 29rpx;
      .address_name {
          padding-bottom: 10rpx;
      }

      .address_all {
      }
    }
    .phone {
      // 左边剩余部分就给号码
      flex: 1;
      text-align: right;
    }
  }
}
.cart {
  .cart_title {
    color: var(--themeColor);
    font-size: 40rpx;
    font-weight: 600;
    padding: 20rpx 30rpx;
    margin: 0 6rpx;
    border-bottom: 1rpx solid var(--themeColor);
  }

  .cart_content {
    .cart_content_item {
      .cart_chk_wrap {
        checkbox-group {
        }
      }

      .cart_img_wrap {
        image {
        }
      }

      .cart_info_wrap {
        .goods_title {
        }

        .goods_num_info {
          .goods_price {
          }

          .goods_num {
            .editNum {
            }

            .num {
            }
          }
        }
      }
    }
  }
}
